doctype html
html(lang='en')
  head
    title Robots + Big Data: Arduino Libraries Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-8
          ol.breadcrumb.stuck
            li
              a(href="index.html") Home
            li.active
              | Arduino Libraries
          .jumbotron
            .stuck.click-through
              .row.jumbotron-header.click-through
                .col-xs-12.text-right.click-through
                  span.label.label-info.title-label Arduino
            .jumbotron-container
              h2
                | Arduino Libraries
                small API DOCUMENTATION
              p Real-time event based C++ libraries written for the Arduino.
              a.btn.btn-primary(href="install.html") Read Install Guide
          .col-xs-12.libraries
            ul.libraries
              li.header
                h4 Components & Sensors
              li
                a(href="docs-arduino-light.html")
                  h5
                    | Light
                    small Control many lights.
              li
                a(href="docs-arduino-motor.html")
                  h5
                    | Motor
                    small Control many motors.
              li
                a(href="docs-arduino-human-sensor.html")
                  h5
                    | Human Sensor
                    small Detect human presence, touch, and pickup events.
              li
                a(href="docs-arduino-water-sensor.html")
                  h5
                    | Water Sensor
                    small Measure and calibrate water level sensors.
              li
                a(href="docs-arduino-light-sensor.html")
                  h5
                    | Light Sensor
                    small Read and calibrate photoresistors.
              li.header
                h4 Additional Libraries
              li
                a(href="docs-arduino-timer.html")
                  h5
                    | Timer
                    small Manage many timed events.
              li
                a(href="docs-arduino-threshold.html")
                  h5
                    | Threshold
                    small Set and check numeric quantile scales.
              li
                a(href="docs-arduino-capacitance.html")
                  h5
                    | Capacitance
                    small Measure change in capacitance.

    .navbar.navbar-default.navbar-footer
      .container-fluid
        .row
          .col-xs-6.text-right
            | &copy; 2015&nbsp;
            a(href="http://opensource.org/licenses/mit-license.php") MIT License
          .col-xs-6
            a(href="https://github.com/alextaujenis/RobotsBigData/edit/gh-pages/src/templates/docs-arduino.jade") Edit this page

    include ./global/foot-content.jade