doctype html
html(lang='en')
  head
    title Robots + Big Data
    meta(name="description", content="An open-source Arduino framework for connecting sensors to the internet including libraries to control lights, motors, servos, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .branding
        .row
          img.logo.img-responsive(src="assets/images/robots_big_data_logo.png", alt="Robots + Big Data")
          h3.tagline An open-source framework for connecting sensors to the internet.
      .row
        .col-sm-6.text-center
          .hardware1 Program the real world
          .hardware-with with any
          .hardware-name Arduino
          .hardware-image
            img(src="assets/images/arduino-uno.png", alt="Arduino Uno")
          .row.text-left
            ul.hardware-benefits
              li
                b Connect
                |  really cheap sensors to the Arduino
              li
                b Run everything
                |  at the same time with no delay
              li
                b Do it fast
                |  in microsecond response times
        .col-sm-6
          .header.text-center
            .software1 Simple real-time libraries
            .software2 that play nice together
          .row
            .col-xs-12.index-libraries
              a(href="docs-arduino-button.html")
                .library
                  .title RBD_Button
                  .version v1.0.1
                  .description Arduino Button Library - Read and debounce buttons and switches.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-05T03:18:19Z") November 5, 2015
              a(href="docs-arduino-light.html")
                .library
                  .title RBD_Light
                  .version v2.1.0
                  .description Arduino Light Library - Control many lights.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-14T19:20:10Z") November 14, 2015
              a(href="docs-arduino-motor.html")
                .library
                  .title RBD_Motor
                  .version v2.1.0
                  .description Arduino Motor Library - Control many motors.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-14T20:10:48Z") November 14, 2015
              a(href="docs-arduino-servo.html")
                .library
                  .title RBD_Servo
                  .version v1.0.1
                  .description Arduino Servo Library - Control many servos without delay or interrupts.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-09T01:44:52Z") November 14, 2015
              a(href="docs-arduino-light-sensor.html")
                .library
                  .title RBD_LightSensor
                  .version v1.0.3
                  .description Arduino Light Sensor Library - Read and calibrate photoresistors.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-10-27T22:09:03Z") October 27, 2015
              a(href="docs-arduino-water-sensor.html")
                .library
                  .title RBD_WaterSensor
                  .version v2.0.0
                  .description Arduino Water Sensor Library - Measure and calibrate water level sensors.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-10T00:57:25Z") November 10, 2015
              a(href="docs-arduino-human-sensor.html")
                .library
                  .title RBD_HumanSensor
                  .version v1.0.3
                  .description Arduino Human Sensor Library - Detect human presence, touch, and pickup events.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-10T12:16:35Z") November 10, 2015
              .software-footer.text-center Control your sensors with high-level C++ libraries
      .row.getting-started-spacer
      .branding
        .row.text-center
          h2.getting-started-header Getting Started
          h3.tagline Install the Arduino libraries and read the docs.
        .row.text-center
          .col-sm-3
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-primary.btn-action(href="install.html") How To Install
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-default.btn-action(href="docs-arduino.html") See All Libraries
          .col-sm-3

    include ./global/footer.jade
    include ./global/foot-content.jade
    script(src='assets/code/branding.js')
    script(src='assets/code/init_branding.js')
    script(src='assets/code/jquery.timeago.js')
    script(src='assets/code/init_timeago.js')