doctype html
html(lang='en')
  head
    title Robots + Big Data
    meta(name="description", content="An open-source Arduino framework for connecting sensors to the internet with lights, motors, servos, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .branding
        .logo
          img.img-responsive(src="assets/images/robots-big-data-logo.png", alt="Robots + Big Data")
        h1.tagline An open-source framework for connecting sensors to the internet.
      .row
        .col-sm-6.text-center
          .hardware1 Program the real world
          .hardware-with with any
          .hardware-name Arduino
          .hardware-image
            img.img-responsive(src="assets/images/arduino-uno-r3.png", alt="Arduino Uno R3")
          .row.text-left
            ul.hardware-benefits
              li
                b Connect
                |  really cheap sensors to the Arduino
              li
                b Run everything
                |  at the same time with no delay
              li
                b Do it fast
                |  in microsecond response times
        .col-sm-6
          .header.text-center
            .software1 Use simple real-time libraries
            .software2 that play nice together
          .row
            .col-xs-12.index-libraries
              a(href="docs-arduino-button.html")
                .library
                  .title RBD_Button
                  .version v2.1.0
                  .testing
                    span.label.label-default Build
                    span.label.label-success Passing
                  .language.pull-right C++
                  .description Arduino Button Library - Read and debounce buttons and switches.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2016-01-02T09:45:22Z") January 2, 2016
              a(href="docs-arduino-light.html")
                .library
                  .title RBD_Light
                  .version v2.1.5
                  .testing
                    span.label.label-default Build
                    span.label.label-success Passing
                  .language.pull-right C++
                  .description Arduino Light Library - Control many lights.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2016-01-12T16:12:51Z") January 12, 2016
              a(href="docs-arduino-motor.html")
                .library
                  .title RBD_Motor
                  .version v2.1.1
                  .testing
                    span.label.label-default Build
                    span.label.label-success Passing
                  .language.pull-right C++
                  .description Arduino Motor Library - Control many motors.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2016-01-07T04:41:00Z") January 7, 2016
              a(href="docs-arduino-servo.html")
                .library
                  .title RBD_Servo
                  .version v1.0.1
                  .language.pull-right C++
                  .description Arduino Servo Library - Control many servos without delay or interrupts.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2015-11-09T01:44:52Z") November 14, 2015
              a(href="docs-arduino-timer.html")
                .library
                  .title RBD_Timer
                  .version v1.2.0
                  .testing
                    span.label.label-default Build
                    span.label.label-success Passing
                  .language.pull-right C++
                  .description Arduino Timer Library - Manage many timed events.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2016-01-04T23:15:20Z") January 4, 2016
              a(href="docs-arduino-serial-manager.html")
                .library
                  .title RBD_SerialManager
                  .version v1.0.0-alpha.3
                  .language.pull-right C++
                  .description Arduino Serial Manager Library - A simple interface for serial communication.
                  .updated
                    | Updated&nbsp;
                    time.timeago(datetime="2016-01-09T04:49:17Z") January 9, 2016
              .software-footer.text-center Control your sensors with high-level C++ libraries
      .row.getting-started-spacer
      .branding
        .row.text-center
          h2.getting-started-header Getting Started
          h3.tagline Install the Arduino libraries and read the docs.
        .row.text-center
          .col-sm-3
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-primary.btn-action(href="install.html") How To Install
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-default.btn-action(href="docs-arduino.html") See All Libraries
          .col-sm-3

    include ./global/footer.jade
    include ./global/foot-content.jade
    script(src='assets/code/branding.js')
    script(src='assets/code/init_branding.js')
    script(src='assets/code/jquery.timeago.js')
    script(src='assets/code/init_timeago.js')