doctype html
html(lang='en')
  head
    title Robots + Big Data
    meta(name="description", content="An open-source Arduino framework for connecting sensors to the internet that includes libraries to control lights, motors, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid#reveal(style="opacity: 0.001")
      .branding
        .row
          img.logo.img-responsive(src="assets/images/robots_big_data_logo.png", alt="Robots + Big Data")
          h3.tagline An open-source framework for connecting sensors to the internet.
      .row.text-center
        .col-sm-6
          .hardware1 Program the real world
          .hardware-with with any
          .hardware-name Arduino
          img(src="assets/images/arduino-uno.png", alt="Arduino Uno")
          .row.text-left
            ul.hardware-benefits
              li
                b Connect
                |  really cheap sensors to the Arduino
              li
                b Run everything
                |  at the same time with no delay
              li
                b Do it fast
                |  in microsecond response times
        .col-sm-6.text-center
          .software1 Simple real-time libraries
          .software2 that play nice together
          a(href="docs-arduino-light.html")
            img.library-img(src="assets/images/library-rbd-light.png", alt="RBD Light Library")
          a(href="docs-arduino-motor.html")
            img.library-img(src="assets/images/library-rbd-motor.png", alt="RBD Motor Library")
          a(href="docs-arduino-human-sensor.html")
            img.library-img(src="assets/images/library-rbd-human-sensor.png", alt="RBD Human Sensor Library")
          a(href="docs-arduino-water-sensor.html")
            img.library-img(src="assets/images/library-rbd-water-sensor.png", alt="RBD Water Sensor Library")
          a(href="docs-arduino-light-sensor.html")
            img.library-img(src="assets/images/library-rbd-light-sensor.png", alt="RBD Light Sensor Library")
          .software-footer Control your sensors with high-level C++ libraries
      .row.getting-started-spacer
      .branding
        .row.text-center
          h2.getting-started-header Getting Started
          h3.tagline Install the Arduino libraries and read the docs
        .row.text-center
          .col-sm-3
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-primary.btn-action(href="install.html") How To Install
          .col-xs-12.col-sm-3
            a.btn.btn-lg.btn-default.btn-action(href="docs-arduino.html") See All Libraries
          .col-sm-3

    .navbar.navbar-default.navbar-footer
      .container-fluid
        .row
          .col-xs-12.text-center
            | &copy; 2015&nbsp;
            a(href="http://opensource.org/licenses/mit-license.php") MIT License

    include ./global/foot-content.jade
    script(src='assets/code/init_branding.js')
    script(src='assets/code/branding.js')