doctype html
html(lang='en')
  head
    title Robots + Big Data: Installation Guide
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid.install-guide
      ol.breadcrumb.stuck
        li
          a(href="index.html") Home
        li.active
          | Install Guide
        a.pull-right.edit-page(href="https://github.com/alextaujenis/RobotsBigData/edit/gh-pages/src/templates/install.jade", data-toggle="tooltip", data-placement="left", title="Edit this page on GitHub.") edit
      .row
        .col-xs-12
          a(name="step-1")
          h1 Install Step 1
          p.lead
            | Download all Robots + Big Data Arduino libraries:
          a.btn.btn-success(href="https://github.com/alextaujenis/RobotsBigData/raw/gh-pages/assets/downloads/RBD_Libraries.zip") Download RBD_Libraries.zip
        .spacer &nbsp;
        .col-xs-12
          a(name="step-2")
          h1 Step 2
          p.lead
            | Unzip and move the contents to your Arduino libraries folder:
          h5 INSTALL PATH
          script(type="syntaxhighlighter", class="brush: shell; gutter: false;")
            :cdata
              Mac & Linux:   Documents/Arduino/libraries
              Windows:       My Documents\Arduino\libraries

          h5 FOLDER STRUCTURE
          img(src="assets/images/install-folder-structure.png")
        .spacer &nbsp;
        .col-xs-12
          a(name="step-3")
          h1 Step 3
          p.lead
            | Upgrade to&nbsp;
            i
              a(href="https://www.arduino.cc/en/Main/Software") Arduino IDE v1.5 or greater
            |  and open an example to get started:
          a(href="docs-arduino-light.html")
            img(src="assets/images/arduino-ide.png")
        .spacer &nbsp;
        .col-xs-12
          a(name="next-step")
          h1 Next Step
          p.lead
            | Read&nbsp;
            a(href="docs-arduino.html") the docs
            |  to learn how to use the libraries.
        .spacer &nbsp;
        .spacer &nbsp;
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade
    include ./global/footer.jade