doctype html
html(lang='en')
  head
    title Robots + Big Data: Install Guide
    meta(name="description", content="Download and install the open-source Robots + Big Data Arduino libraries to quickly control lights, motors, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid.install-guide
      .breadcrumb-container.stuck
        ol.breadcrumb
          li
            a(href="index.html") Home
          li.active
            | Install Guide
      .row
        .col-xs-12
          #step-1
          h1 Install Step 1
          p.lead
            | Download and install the latest version of the&nbsp;
            a(href="https://www.arduino.cc/en/main/software#download", target="_blank")
              img(src="assets/images/arduino-library-icon.png", alt="Arduino IDE Logo")
              |  Arduino IDE
            | .
        .spacer &nbsp;
        .col-xs-12
          #step-2
          h1 Step 2
          p.lead
            | Open the Arduino IDE and click&nbsp;
            b Tools &rArr; Manage Libraries...
            .image
              img.img-responsive(src="assets/images/arduino-ide-tools-manage-libraries.png", alt="Arduino Library Manager Menu: Tools -> Manage Libraries...")
        .spacer &nbsp;
        .col-xs-12
          #step-3
          h1 Step 3
          p.lead
            | Search for&nbsp;
            b(translate="no") RBD_
            |  in the Arduino Library Manager then click&nbsp;
            b Install
            |  on a specific library.
            .image
              img.img-responsive(src="assets/images/library-manager-rbd-libraries.png", alt="Arduino Library Manager: Searching for RBD Libraries")
        .spacer &nbsp;
        .col-xs-12
          #step-4
          h1
            | Step 4&nbsp;
            small.text-muted (only for some libraries)
          p.lead
            | Some libraries are dependent upon others to work correctly. Click&nbsp;
            b Install all
            |  to install these dependencies and avoid compile-time errors.
            .image
              img.img-responsive(src="assets/images/library-manager-rbd-button-dependencies.png", alt="Arduino Library Manager: RBD_Button Dependencies Confirmation")
        .spacer &nbsp;
        .col-xs-12
          #step-5
          h1 Next Step
          p.lead
            | Open an example to get started and read&nbsp;
            a(href="docs-arduino.html") the docs
            |  to learn how to use the libraries.
            .image
              a(href="docs-arduino-light.html")
                img.img-responsive(src="assets/images/arduino-ide.png", alt="Arduino IDE: RBD_Light Example Blink Without Delay")
    include ./global/footer.jade
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade
    script.
      $(document).ready(function(){
        (new GithubRepo({
          user: "alextaujenis",
          repo: "RobotsBigData"
        })).render();
      });
