doctype html
html(lang='en')
  head
    title Robots + Big Data: Install Guide
    meta(name="description", content="Download and install the open-source Robots + Big Data Arduino libraries to quickly control lights, motors, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid.install-guide
      ol.breadcrumb.stuck
        li
          a(href="index.html") Home
        li.active
          | Install Guide
      .row
        .col-xs-12
          #step-1
          h1 Install Step 1
          p.lead
            | Download all Robots + Big Data Arduino libraries:
          .row
            .col-xs-12
              a.btn.btn-lg.btn-success(href="https://github.com/alextaujenis/RobotsBigData/raw/gh-pages/assets/downloads/RBD_Libraries.zip") RBD_Libraries.zip v2.4
              a.release-notes(href="https://github.com/alextaujenis/RobotsBigData/releases") release notes
        .spacer &nbsp;
        .col-xs-12
          #step-2
          h1 Step 2
          p.lead
            | Unzip and move the contents to your Arduino libraries folder:
          h5 INSTALL PATH
          div(translate="no")
            script(type="syntaxhighlighter", class="brush: shell; gutter: false;")
              :cdata
                Mac & Linux:   Documents/Arduino/libraries
                Windows:       My Documents\Arduino\libraries

          h5 FOLDER STRUCTURE
          img(src="assets/images/install-folder-structure.png", alt="Installation folder structure")
        .spacer &nbsp;
        .col-xs-12
          #step-3
          h1 Step 3
          p.lead
            | Upgrade to&nbsp;
            i
              a(href="https://www.arduino.cc/en/Main/Software") Arduino IDE v1.5 or greater
            |  and open an example to get started:
          a(href="docs-arduino-light.html")
            img(src="assets/images/arduino-ide.png", alt="Arduino IDE Light Example")
        .spacer &nbsp;
        .col-xs-12
          #next-step
          h1 Next Step
          p.lead
            | Read&nbsp;
            a(href="docs-arduino.html") the docs
            |  to learn how to use the libraries.

    include ./global/footer.jade
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade
