doctype html
html(lang='en')
  head
    title Robots + Big Data: Install Guide
    meta(name="description", content="Download and install the open-source Robots + Big Data Arduino libraries to quickly control lights, motors, human and water sensors, and more.")
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid.install-guide
      .breadcrumb-container.stuck
        ol.breadcrumb
          li
            a(href="index.html") Home
          li.active
            | Install Guide
      .row
        .col-xs-12
          #step-1
          h1 Install Step 1
          p.lead
            | Click below to download all&nbsp;
            span(translate="no") Robots + Big Data
            |  Arduino libraries:
          .row
            .col-xs-12
              .library-download
                .image.pull-left
                  a(href="assets/downloads/RBD_Libraries.zip")
                    img(src="assets/images/zip-lg.png", alt=".zip file")
                .content.pull-left
                  a(href="assets/downloads/RBD_Libraries.zip")
                    .title
                      | RBD_Libraries.zip
                    .details
                      | 105KB Download -&nbsp;
                      span
                        | Updated&nbsp;
                        time.timeago(datetime="2016-01-04T15:14:58Z") January 4, 2016
                  a.release-notes(href="https://github.com/alextaujenis/RobotsBigData/releases")
                    | v3.6 - Release Notes
                .clearfix
          .small-spacer &nbsp;
          p.lead.no-margin
            | Then check your downloads folder and double-click the&nbsp;
            img(src="src/images/zip-icon.png", alt="folder icon")
            |  RBD_Libraries.zip file.
        .spacer &nbsp;
        .col-xs-12
          #step-2
          h1 Step 2
          p.lead
            | Move the un-zipped contents of the&nbsp;
            img(src="src/images/folder-icon.png", alt="folder icon")
            |  RBD_Libraries folder to your Arduino&nbsp;
            img(src="src/images/folder-icon.png", alt="folder icon")
            |  libraries folder:
          h5 INSTALL PATH
          div(translate="no")
            script(type="syntaxhighlighter", class="brush: shell; gutter: false;")
              :cdata
                Windows:       My Documents\Arduino\libraries
                Mac & Linux:   Documents/Arduino/libraries

          h5 FOLDER STRUCTURE
          img(src="assets/images/install-folder-structure.png", alt="Installation folder structure")
        .spacer &nbsp;
        .col-xs-12
          #step-3
          h1 Step 3
          p.lead
            | Upgrade to&nbsp;
            i
              a(href="https://www.arduino.cc/en/Main/Software") Arduino IDE v1.5 or greater
            |  and open an example to get started:
          a(href="docs-arduino-light.html")
            img.img-responsive(src="assets/images/arduino-ide.png", alt="Arduino IDE Light Example")
        .spacer &nbsp;
        .col-xs-12
          #next-step
          h1 Next Step
          p.lead
            | Read&nbsp;
            a(href="docs-arduino.html") the docs
            |  to learn how to use the libraries.

    include ./global/footer.jade
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade
    script(src='assets/code/jquery.timeago.js')
    script(src='assets/code/init_timeago.js')
