ol.breadcrumb {
  font-size: 16px;
  display: inline;
  margin: 0;
  padding: 0;

  li {
    padding: 2px 0;
  }
}

.breadcrumb-container {
  display: block;
  background-color: #F5F5F5;
  padding: 8px 15px;
  margin-bottom: 20px;
  border-radius: 4px;


  .icon-container {
    padding-left: 10px;

    a {
      color: black;
    }

    a:hover {
      color: #235287;
    }
  }

  .icon {
    line-height: 0.90em;

    .image {
      float: left;
    }

    .text-container {
      float: left;
      padding-top: 2px;
      padding-left: 3px;
    }

    .name {
      font-size: 12px;
    }

    .subtitle {
      font-size: 10px;
      color: #555;
    }
  }
}

@media(max-width:768px) {
  .breadcrumb {
    font-size: 9px !important;
  }


  .icon-container {
    padding-left: 5px;
  }

  .breadcrumb-container {
    padding: 5px 12px;
    font-size: 9px !important;
    margin-bottom: 5px;

    .icon {
      .image img{
        max-width: 65%;
      }

      .text-container {
        padding: 0;
        padding-top: 1px;
      }

      .name {
        font-size: 10px;
        margin-bottom: 1px;
      }

      .subtitle {
        font-size: 8px;
      }
    }
  }

}


.navbar-default {
  margin-bottom: 0px !important;
}

.container-fluid {
  max-width: 980px;
}

p.lead {
  text-align: justify;
}
.top-nav-spacer1 {
  height: 60px;
  background-color: white;
}

.top-nav-spacer2 {
  height: 20px;
}

.logo {
  .image-container {
    padding: 0px 15px;

    img {
      margin: 100px auto 0 auto;
    }
  }
}

.tagline {
  text-align: center;
  margin: 10px 15px 50px 15px;
}

.hardware-image {
  img {
    margin: 0px auto;
  }
}

.btn-custom {
  font-size: 18px;
  font-weight: normal;
  padding: 12px 24px;
  margin-bottom: 20px;
  color: white;
  background-color: #272639;
  border-color: #272639;

  &:hover, &:focus, &:active, &.active {
    background-color: #1d1c2a;
    border-color: #12121a;
    color: white;
  }
}

.hardware-spacer {
  height: 100px;
}

.software-spacer{
  height: 0px;
}

.section-header {
  font-size: 45px;
  margin-bottom: 75px;
}

.hardware1 {
  font-size: 32px;
}

.hardware2 {
  font-size: 27px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 100;
}

.hardware3 {
  font-size: 35px;
}

.hardware4 {
  font-size: 29px;
  margin-top: -13px;
  margin-bottom: 10px;
  font-weight: 100;
}

.hardware-with {
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
}

.hardware-name {
  font-weight: bold;
  font-size: 40px;
}

.hardware-benefits {
  font-size: 14px;
  margin: 20px 0 100px 20px;

  & li {
    padding: 10px 0;
  }
}

.hardware-benefits {
  @media(min-width:450px) {margin-left: 50px;}
  @media(min-width:550px) {margin-left: 100px;}
  @media(min-width:650px) {margin-left: 150px;}
  @media(min-width:768px) {margin-left: 20px;}
  @media(min-width:900px) {margin-left: 75px;}
}

.software1 {
  font-size: 30px;
}

.software2 {
  font-size: 36px;
  margin-top: -12px;
  margin-bottom: 30px;
  font-weight: 100;
}

@media(max-width:860px) {
  .software1 {
    font-size: 26px;
  }

  .software2 {
    font-size: 36px;
  }
}

.software-footer {
  font-style: italic;
  color: #777;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0 100px 0;
}

.getting-started-spacer {
  height: 50px;
}

.getting-started-header {
  font-size: 45px;
}

.getting-started-tagline {
  font-size: 30px;
  margin: -5px 0 50px 0;
  font-weight: 100;
}

.resource-link {
  background-color: #FAFAFA;
  border: solid 1px #DDD;
  padding: 10px;
  padding-left: 15px;
  margin: 0 10px 20px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  h4 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    padding-left: 15px;
  }
}

.end-spacer {
  height: 350px;
}

.zip-label {
  color: black;
  background-color: #ffe3be;
  cursor: pointer;
}

sup.superscript {
  color: #007ec6;
  margin-left: 2px;
}

@media(max-width:767px){
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px !important;
  }

  .jumbotron-container {
    padding: 0 8px 0 20px;

    p {
      font-size: 18px;
    }

    small {
      font-size: 12px !important;
    }

    a.btn {
      font-size: 12px;
    }
  }

  .jumbotron-header {
    span.label {
      font-size: 9px !important;
    }
  }

  .navbar a{
    font-size: 14px !important;
  }
}

.navbar-footer {
  margin-top: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEE;
  border: solid 1px #AAA;
  border-left: none;
  border-right: none;
  color: #777;

  a {
    color: #777;

    &:hover {
      text-decoration: none;
      border-bottom: solid 1px #777;
    }
  }
}

.light {
  display: inline-block;
  color: #AAA;
  font-weight: normal;
}

img.library-img {
  border: solid 2px white;
  &:hover {
    border: solid 2px #DDD;
  }
}

.btn-action {
  margin-bottom: 20px;
}

.release-notes {
  font-size: 12px;
  margin-left: 20px;
  display: inline;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}