.side-panel {
  .panel-body {
    h3 {
      margin: 0;
      padding: 10px 0 4px 0;
      border-bottom: solid 1px #DDD;
      font-size: 12px;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      padding: 5px 0 0 10px;

      li {
        padding: 2px 0;
        font-size: 12px;

        a, a:hover, a:active, a:visited {
          color: black;
        }
      }
    }
  }
}

.documentation {
  h3 {
    padding-bottom: 2px;
    border-bottom: solid 1px #DDD;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    font-size: 16px;
    padding-bottom: 15px;
    li {
      padding: 2px 0;
    }
  }
  .section {
    padding: 20px 0 30px 0;
    border: solid 1px #DDD;
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
  }
  h5 {
    font-size: 10px;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }
  p {
    font-weight: 200;
    font-size: 18px;
  }
}

.syntaxhighlighter {
  padding-left: 20px;

}