.logo {
  margin: 265px auto 0 auto;
}

.tagline {
  text-align: center;
  margin: 10px 0 50px 0;
}

.btn-splash {
  background-color: #272639;
  color: white;
  border-color: black;
  margin-bottom: 20px;

  &:hover {
    color: #999;
  }
}