body {
  padding-top: 70px;
}

.logo {
  margin: 100px auto 0 auto;
}

.tagline {
  text-align: center;
  margin: 10px 0 50px 0;
}

.btn-custom {
  font-size: 18px;
  font-weight: normal;
  padding: 12px 24px;
  margin-bottom: 20px;
  color: white;
  background-color: #272639;
  border-color: #272639;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #1d1c2a;
  border-color: #12121a;
  color: white;
}

.hardware-spacer {
  height: 100px;
}

.software-spacer{
  height: 0px;
}


.section-header {
  font-size: 45px;
  margin-bottom: 75px;
}


.hardware1 {
  font-size: 35px;
}

.hardware2 {
  font-size: 27px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 100;
}

.hardware3 {
  font-size: 35px;
}

.hardware4 {
  font-size: 29px;
  margin-top: -13px;
  margin-bottom: 10px;
  font-weight: 100;
}

.hardware-with {
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
}

.hardware-name {
  font-weight: bold;
  font-size: 50px;
}

.hardware-benefits {
  font-size: 20px;
  margin: 20px 0 100px 0;

  & li {
    padding: 10px 0;
  }
}

.software1 {
  font-size: 34px;
}

.software2 {
  font-size: 28px;
  margin-top: -12px;
  margin-bottom: 30px;
  font-weight: 100;
}

.software3 {
  font-size: 34px;
  margin-top: 1px;
}

.software4 {
  font-size: 26px;
  margin-top: -10px;
  margin-bottom: 30px;
  font-weight: 100;
}

.software-footer {
  font-style: italic;
  color: #777;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0 100px 0;
}

.getting-started-spacer {
  height: 25px;
}

.getting-started-header {
  font-size: 45px;
}

.getting-started-tagline {
  font-size: 30px;
  margin: -5px 0 50px 0;
  font-weight: 100;
}

.resource-link {
  background-color: #FAFAFA;
  border: solid 1px #DDD;
  padding: 10px;
  padding-left: 15px;
  margin: 0 10px 20px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  h4 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    padding-left: 15px;
  }
}

.end-spacer {
  height: 350px;
}
