.hidden-xs.col-sm-4.stuck
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title
        a(href="docs-arduino.html") Arduino Libraries
    .panel-body
      h3 Components
      ul(translate="no")
        li
          a(href='docs-arduino-button.html') Button
        li
          a(href='docs-arduino-light.html') Light
        li
          a(href='docs-arduino-motor.html') Motor
      h3 Sensors
      ul(translate="no")
        li
          a(href='docs-arduino-light-sensor.html') Light Sensor
        li
          a(href='docs-arduino-water-sensor.html') Water Sensor
        li
          a(href='docs-arduino-human-sensor.html') Human Sensor
      h3 Additional Libraries
      ul(translate="no")
        li
          a(href='docs-arduino-timer.html') Timer
        li
          a(href='docs-arduino-threshold.html') Threshold
        li
          a(href='docs-arduino-capacitance.html') Capacitance