.panel.panel-default.side-panel
  .panel-heading
    .panel-title
      a(href="docs-arduino.html") Arduino Libraries
  .panel-body(translate="no")
    h3(translate="yes") Components
    ul
      li
        a.rbd_button(href='docs-arduino-button.html') Button
      li
        a.rbd_light(href='docs-arduino-light.html') Light
      li
        a.rbd_motor(href='docs-arduino-motor.html') Motor
      li
        a.rbd_servo(href='docs-arduino-servo.html') Servo
    h3(translate="yes") Sensors
    ul
      li
        a.rbd_light_sensor(href='docs-arduino-light-sensor.html') Light Sensor
      li
        a.rbd_water_sensor(href='docs-arduino-water-sensor.html') Water Sensor
      li
        a.rbd_human_sensor(href='docs-arduino-human-sensor.html') Human Sensor
    h3(translate="yes") Additional Libraries
    ul
      li
        a.rbd_timer(href='docs-arduino-timer.html') Timer
      li
        a.rbd_threshold(href='docs-arduino-threshold.html') Threshold
      li
        a.rbd_capacitance(href='docs-arduino-capacitance.html') Capacitance
      li
        a.rbd_serial_manager(href='docs-arduino-serial-manager.html') Serial Manager