script(src='assets/code/shCore.js')
script(src='assets/code/shLegacy.js')
script(src='assets/code/shAutoloader.js')
script(src='assets/code/shBrushArduino.js')
script(src='assets/code/shBrushBash.js')
script(src='assets/code/shBrushJScript.js')
script(src='assets/code/syntax_highlighter.js')
script(src='assets/code/click_flash.js')
script(src='assets/code/jquery.color.min.js')
