script(src='assets/code/jquery.min.js')
script(src='assets/code/bootstrap.min.js')
script(src='assets/code/init_bootstrap.js')
script(src='assets/code/back_to_top.js')
script(src='assets/code/jquery.stuck.js')
script(src='assets/code/init_jquery_stuck.js')
script(src='assets/code/google_analytics.js')
script(src='assets/code/inspectlet.js')