.navbar.navbar-default.navbar-footer
  .container-fluid
    .row
      .col-xs-12.text-center
        | &copy; 2015&nbsp;
        span(id="copyright-year")
        a(href="http://opensource.org/licenses/mit-license.php") MIT License