.col-sm-3.col-lg-2
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title
        a(href="api-docs.html") API Docs
    .panel-body
      h3
        a(href="api-docs-sensor.html") SENSOR
      ul
        li
          a(href='api-docs-sensor-capacitance.html') Capacitance
        li
          a(href='api-docs-sensor-human-sensor.html') HumanSensor
        li
          a(href='api-docs-sensor-light.html') Light
        li
          a(href='api-docs-sensor-light-sensor.html') LightSensor
        li
          a(href='api-docs-sensor-motor.html') Motor
        li
          a(href='api-docs-sensor-threshold.html') Threshold
        li
          a(href='api-docs-sensor-timer.html') Timer
        li
          a(href='api-docs-sensor-usb.html') USB
        li
          a(href='api-docs-sensor-water-sensor.html') WaterSensor

      h3
        a(href="api-docs-server.html") SERVER
      ul
        li
          a(href='api-docs-server-camera.html') Camera
        li
          a(href='api-docs-server-conductor.html') Conductor
        li
          a(href='api-docs-server-config.html') Config
        li
          a(href='api-docs-server-database.html') Database
        li
          a(href='api-docs-server-image.html') Image
        li
          a(href='api-docs-server-timer.html') Timer
        li
          a(href='api-docs-server-usb.html') USB
        li
          a(href='api-docs-server-webserver.html') WebServer
      h3
        a(href="api-docs-client.html") CLIENT
      ul
        li
          a(href='api-docs-client-button.html') Button
        li
          a(href='api-docs-client-camera.html') Camera
        li
          a(href='api-docs-client-gps.html') GPS
        li
          a(href='api-docs-client-joystick.html') Joystick
        li
          a(href='api-docs-client-motion.html') Motion
        li
          a(href='api-docs-client-slider.html') Slider
        li
          a(href='api-docs-client-toggle.html') Toggle
        li
          a(href='api-docs-client-xy-map.html') XYMap
