script(src='libraries/shCore.js')
script(src='libraries/shLegacy.js')
script(src='libraries/shAutoloader.js')
script(src='libraries/shBrushCpp.js')
script(src='code/syntax_highlighter.js')
script(src='libraries/click_flash.js')
script(src='libraries/jquery.color.min.js')
