.hidden-xs.col-sm-4.col-md-3
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title
        a(href="docs-arduino.html") Arduino Sensor Libraries
    .panel-body
      ul
        li
          a(href='docs-arduino-capacitance.html') Capacitance
        li
          a(href='docs-arduino-human-sensor.html') Human Sensor
          span.badge.pull-right(data-toggle="tooltip", data-placement="left", title="Capacitance, Threshold, and Timer Dependencies") 3
        li
          a(href='docs-arduino-light.html') Light
          span.badge.pull-right(data-toggle="tooltip", data-placement="left", title="Timer Dependency") 1
        li
          a(href='docs-arduino-light-sensor.html') Light Sensor
        li
          a(href='docs-arduino-motor.html') Motor
          span.badge.pull-right(data-toggle="tooltip", data-placement="left", title="Timer Dependency") 1
        li
          a(href='docs-arduino-threshold.html') Threshold
        li
          a(href='docs-arduino-timer.html') Timer
        li
          a(href='docs-arduino-water-sensor.html') Water Sensor
          span.badge.pull-right(data-toggle="tooltip", data-placement="left", title="Capacitance, Threshold, and Timer Dependencies") 3