.col-sm-3.col-lg-2
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title
        a(href="docs.html") Docs
    .panel-body
      h3
        a(href="docs-sensor.html") ARDUINO SENSOR LIBRARIES
      ul
        li
          a(href='docs-sensor-capacitance.html') Capacitance
        li
          a(href='docs-sensor-human-sensor.html') HumanSensor
        li
          a(href='docs-sensor-light.html') Light
        li
          a(href='docs-sensor-light-sensor.html') LightSensor
        li
          a(href='docs-sensor-motor.html') Motor
        li
          a(href='docs-sensor-threshold.html') Threshold
        li
          a(href='docs-sensor-timer.html') Timer
        li
          a(href='docs-sensor-usb.html') USB
        li
          a(href='docs-sensor-water-sensor.html') WaterSensor

      h3
        a(href="docs-server.html") RASPBERRY PI SERVER MODULES
      ul
        li
          a(href='docs-server-camera.html') Camera
        li
          a(href='docs-server-conductor.html') Conductor
        li
          a(href='docs-server-config.html') Config
        li
          a(href='docs-server-database.html') Database
        li
          a(href='docs-server-image.html') Image
        li
          a(href='docs-server-timer.html') Timer
        li
          a(href='docs-server-usb.html') USB
        li
          a(href='docs-server-webserver.html') WebServer
      h3
        a(href="docs-client.html") WEB & MOBILE CLIENT PLUGINS
      ul
        li
          a(href='docs-client-button.html') Button
        li
          a(href='docs-client-camera.html') Camera
        li
          a(href='docs-client-gps.html') GPS
        li
          a(href='docs-client-joystick.html') Joystick
        li
          a(href='docs-client-motion.html') Motion
        li
          a(href='docs-client-slider.html') Slider
        li
          a(href='docs-client-toggle.html') Toggle
        li
          a(href='docs-client-xy-map.html') XYMap
      h3
        a(href='') OTHER INCLUDED PACKAGES
      ul
        li
          a(href='#') Build Package
        li
          a(href='#') Code Test Package
        li
          a(href='#') Database
        li
          a(href='#') Front-End MVC
        li
          a(href='#') Operating System
        li
          a(href='#') Server Management
        li
          a(href='#') Streaming I/O
        li
          a(href='#') Audio/Video Server
        li
          a(href='#') Web Server