.col-sm-3.col-lg-2
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title Documentation
    .panel-body
      h3 SENSORS
      ul
        li
          a(href='docs-sensors-capacitance.html') Capacitance
        li
          a(href='docs-sensors-human-sensor.html') HumanSensor
        li
          a(href='docs-sensors-light.html') Light
        li
          a(href='docs-sensors-light-sensor.html') LightSensor
        li
          a(href='docs-sensors-motor.html') Motor
        li
          a(href='docs-sensors-servo.html') Servo
        li
          a(href='docs-sensors-stepper-motor.html') StepperMotor
        li
          a(href='docs-sensors-threshold.html') Threshold
        li
          a(href='docs-sensors-timer.html') Timer
        li
          a(href='docs-sensors-usb.html') USB
        li
          a(href='docs-sensors-water-sensor.html') WaterSensor

      h3 APP SERVER
      ul
        li
          a(href='docs-server-camera.html') Camera
        li
          a(href='docs-server-conductor.html') Conductor
        li
          a(href='docs-server-config.html') Config
        li
          a(href='docs-server-database.html') Database
        li
          a(href='docs-server-image.html') Image
        li
          a(href='docs-server-timer.html') Timer
        li
          a(href='docs-server-usb.html') USB
        li
          a(href='docs-server-webserver.html') WebServer
      h3 WEB CLIENT
      ul
        li
          a(href='docs-web-button.html') Button
        li
          a(href='docs-web-camera.html') Camera
        li
          a(href='docs-web-gps.html') GPS
        li
          a(href='docs-web-joystick.html') Joystick
        li
          a(href='docs-web-motion.html') Motion
        li
          a(href='docs-web-slider.html') Slider
        li
          a(href='docs-web-toggle.html') Toggle
        li
          a(href='docs-web-cartesian.html') XYMap
