include ./footer.jade

script(src='libraries/jquery.min.js')
script(src='libraries/bootstrap.min.js')
script(src='code/init_bootstrap.js')
script(src='code/back_to_top.js')
script(src='libraries/jquery.stuck.js')
script(src='code/init_jquery_stuck.js')