script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='libraries/shCore.js')
script(src='libraries/shLegacy.js')
script(src='libraries/shAutoloader.js')
script(src='libraries/shBrushCpp.js')
script(src='code/highlight.js')