.col-sm-3.col-lg-2
  .panel.panel-default.side-panel
    .panel-heading
      .panel-title
        a(href="framework-docs.html") Framework Docs
    .panel-body
      h3 COMPONENTS
      ul
        li
          a(href='#') Build Package
        li
          a(href='#') Database
        li
          a(href='#') Front-End MVC
        li
          a(href='#') Operating System
        li
          a(href='#') Server Management
        li
          a(href='#') Test Package
        li
          a(href='#') Web & Video Server