link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
link(href='style/shCore.css' rel='stylesheet' type='text/css')
link(href='style/shCoreDefault.css' rel='stylesheet' type='text/css')
link(href='style/shThemeDefault.css' rel='stylesheet' type='text/css')
link(href='style/style.css' rel='stylesheet' type='text/css')
link(href='style/docs.css' rel='stylesheet' type='text/css')
link(href='style/install.css' rel='stylesheet' type='text/css')
meta(content='width=device-width initial-scale=1' name='viewport')
