script(src='./compiled/libraries/jquery.min.js')
script(src='./compiled/libraries/bootstrap.min.js')
script(src='./compiled/code/init_bootstrap.js')
script(src='./compiled/code/back_to_top.js')
script(src='./compiled/libraries/jquery.stuck.js')
script(src='./compiled/code/init_jquery_stuck.js')