span.label.label-primary(data-toggle="tooltip", data-placement="right", title="You must continuously call this method within loop() to use any Real-Time methods.")
  img(src="assets/images/update.png", alt="Update")