doctype html
html(lang='en')
  head
    title Robots + Big Data: API Docs
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/api-docs-side-nav.jade
        .col-sm-9.col-lg-10
          .jumbotron
            h2
              | Robots + Big Data
              small API DOCUMENTATION
            p an open-source framework for connecting sensors to the internet
            a.btn.btn-primary(href="install.html") Install Guide
            | &nbsp;&nbsp;
            a.btn.btn-default(href="framework-docs.html") Framework Docs
          .col-md-10.col-lg-8
            h3 API Docs Overview
            ul
              li
                p.lead
                  | The&nbsp;
                  a(href="api-docs-sensor.html") Sensor
                  |  libraries interact with electronic components and the real world, are written in
                  b
                    |  C++
                  | , and run on any Arduino.
              li
                p.lead
                  | The&nbsp;
                  a(href="api-docs-server.html") Server
                  |  libraries help move and process data, are written in
                  b
                    |  CoffeeScript
                  | , and run on Node.js and the Raspberry Pi.
              li
                p.lead
                  | The&nbsp;
                  a(href="api-docs-client.html") Client
                  |  libraries help display and interact with data, are written in
                  b
                    |  CoffeeScript
                  | , and run on any modern web or mobile browser.
    include ./global/foot-content.jade


