doctype html
html(lang='en')
  head
    title Robots + Big Data: Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-8.col-md-9
          ol.breadcrumb
            li
              a(href="index.html") Home
            li.active
              | Docs
          .jumbotron
            .jumbotron-container
              h2
                | Robots + Big Data
                small API DOCUMENTATION
              p An open-source framework for connecting sensors to the internet.
              a.btn.btn-info(href="install.html") Install Guide
          .col-md-10.col-lg-8
            h3 API Docs Overview
            ul
              li
                p.lead
                  a(href="docs-arduino.html") Arduino Sensor Libraries
                  |  are written in
                  b  C++
                  | , run in real-time with no delay on any Arduino, and interact with electronic components in the real world.
              li
                p.lead
                  a(href="docs-server.html") Raspberry Pi Server Modules
                  |  are written in
                  b  CoffeeScript
                  | , run in real-time without blocking on Node.js, and help move and process data.
              li
                p.lead
                  a(href="docs-client.html") Web & Mobile Client Plugins
                  |  are written in
                  b  CoffeeScript
                  | , run in real-time without blocking on most modern web browsers, and help display and interact with data.
              li
                p.lead
                  a(href="#") Other Included Packages
                  |  provide details on the specific implementation of
                  b  external
                  |  open-source projects within this framework.

    include ./global/foot-content.jade