doctype html
html(lang='en')
  head
    title Robots + Big Data: Light Sensor Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-9.col-lg-10
          ol.breadcrumb
            li
              a(href="index.html") Home
            li
              a(href="docs.html") Docs
            li
              a(href="docs-sensor.html") Arduino
            li.active
              | Light Sensor
          .row.pull-right
            .col-xs-12
              span.label.label-info.title-label Arduino
          .jumbotron
            .jumbotron-container
              h2
                | Light Sensor
                small  API DOCUMENTATION
              p
                | A simple library for reading photoresistors.
                small v1.0.0
              a.btn.btn-success(href="#download") Download
              | &nbsp;&nbsp;
              a.btn.btn-default(href="#example-sketch") See Example
              | &nbsp;&nbsp;
              a.btn.btn-default(href="#public-methods") Public Methods
          h3
            a(name="download")
            | Download
          p.lead
            | This library is part of a larger package that you can download to access
            i  all
            |  of the documented sensors,&nbsp;
            i or
            |  you can use this library by itself.
          p
            ul
              li
                a(href="#") Download Full Sensor Package
                |  with this library included
              li
                a(href="#") Download Light Sensor Library v1.0.0
                |  by itself
              li
                a(href="https://github.com/alextaujenis/RBD_LightSensor") View Source on GitHub
                |  with MIT license

          h3
            a(name="example-sketch")
            | Example Sketch
            span.label.label-info Arduino
            span.label.label-primary C++

          script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
            :cdata
              #include <LightSensor.h>
              #define BAUD 115200

              LightSensor light_sensor(A0);

              void setup() {
                Serial.begin(BAUD);
              }

              void loop() {
                Serial.println(light_sensor.getPercentValue());
              }

          h3
            a(name="public-methods")
            | Public Methods
          h4.class-name
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                LightSensor

          ul.public-methods
            li
              a.click-flash(href="#constructor") constructor(pin)
            li
              a.click-flash(href="#getvalue") .getValue()
            li
              a.click-flash(href="#getinversevalue") .getInverseValue()
            li
              a.click-flash(href="#getpercentvalue") .getPercentValue()
            li
              a.click-flash(href="#getinversepercentvalue") .getInversePercentValue()

          .section
            a(name="constructor")
            h4 LightSensor constructor(pin)
            p Create a new sensor and pass in the Arduino pin number.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                LightSensor light_sensor(A0);

                void setup() {
                  ...
                }

          .section
            a(name="getvalue")
            h4 light_sensor.getValue()
            p Returns an integer from 0 - 1023 for the current light level.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void loop() {
                  light_sensor.getValue();
                }

          .section
            a(name="getinversevalue")
            h4 light_sensor.getInverseValue()
            p Returns an integer from 1023 - 0 for the opposite of the current light level.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void loop() {
                  light_sensor.getInverseValue();
                }

          .section
            a(name="getpercentvalue")
            h4 light_sensor.getPercentValue()
            p Returns an integer from 0 - 100 for the current light percentage.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void loop() {
                  light_sensor.getPercentValue();
                }

          .section
            a(name="getinversepercentvalue")
            h4 light_sensor.getInversePercentValue()
            p Returns an integer from 100 - 0 for the opposite of the current light percentage.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void loop() {
                  light_sensor.getInversePercentValue();
                }

          .section-bottom
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade


