doctype html
html(lang='en')
  head
    title Robots + Big Data: Documentation
    include ./global/head_content.jade
  body
    include ./global/top_nav.jade
    .container-fluid
      .row
        include ./global/docs_side_nav.jade
        .col-sm-9.col-lg-10
          .jumbotron
            h2 Robots + Big Data: Documentation
            p an open-source framework for connecting sensors to the internet
          .col-md-10.col-lg-8
            h3 Overview
            ul
              li
                p.lead
                  a(href="docs-sensor.html") Sensor
                  |  Libraries interact with electronic components and the real world, are written in
                  b
                    |  C++
                  | , and run on any Arduino.
              li
                p.lead
                  a(href="docs-server.html") Server
                  |  Libraries help move and process data, are written in
                  b
                    |  CoffeeScript
                  | , and run on Node.js and the Raspberry Pi.
              li
                p.lead
                  a(href="docs-client.html") Client
                  |  Libraries help display and interact with data, are written in
                  b
                    |  CoffeeScript
                  | , and run on any modern web or mobile browser.
    include ./global/foot_content.jade


