doctype html
html(lang='en')
  head
    title Robots + Big Data: Capacitance Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-8.col-md-9
          ol.breadcrumb
            li
              a(href="index.html") Home
            li
              a(href="docs.html") Docs
            li
              a(href="docs-arduino.html") Arduino
            li.active
              | Capacitance
          .jumbotron
            .stuck
              .row.jumbotron-header
                .col-xs-12.text-right
                  span.label.label-info.title-label Arduino
            .jumbotron-container
              h2
                | Capacitance
                small  API DOCUMENTATION
              p
                | A real-time library for detecting changes in capacitance.
                small v1.0.0
              a.btn.btn-success(href="#download") Download
              | &nbsp;&nbsp;
              a.btn.btn-default(href="#example-setup") See Example
              | &nbsp;&nbsp;
              a.btn.btn-default(href="#public-methods") Public Methods
          h3
            a(name="overview")
            | Overview
          p
            | Detect human presence and touch from behind several millimeters of material, or detect changes in water levels from the outside of a plastic container. This library is meant to help&nbsp;
            b determine change in relative capacitance
            |  for the reasons above, and not for calculating exact capacitance.
          p
            | Relative capacitance is found by measuring how long it takes for an Arduino send-pin to charge a receive-pin to HIGH (in microseconds). Changes in the electrical field around a sensor connected to the receive pin (such as a human passing by, or water filling up, or a motor turning on) have a measurable impact on the amount of time it takes to charge the receive pin.
          p
            | Many of these charge and discharge readings are taken, then averaged within the library to reduce variability and give a more clear answer of what the sensor is reading. This is done in real-time without delay so it only has a small impact on the main loop() performance. See the&nbsp;
            a(href="#example-setup") Example
            |  below for help wiring and programming the Arduino with this library.
          h3
            a(name="download")
            | Download
          p.lead
            | This library is part of a larger package that you can download to access
            i  all
            |  of the documented sensors,&nbsp;
            i or
            |  you can use this library by itself.
          p
            ul
              li
                a(href="#") Download Full Sensor Package
                |  with this library included
              li
                a(href="#") Download Capacitance Library v1.0.0
                |  by itself
              li
                a(href="https://github.com/alextaujenis/RBD_Capacitance") View Source on GitHub
                |  with MIT license

          h3
            a(name="example-setup")
            | Example Setup
          ol
            li Bridge a 10Meg Ohm resistor across the Arduino send (tx 1) and receive (rx 0) pins
            li Run a length of wire from the receive (rx 0) pin to a strip of aluminum foil
            li Cover the foil with plastic, paper, wood, clay, or anything non-conductive
            li Load up the example sketch and open a serial connection at 115200 baud
            li Touch or move your hand by the sensor

          h3
            a(name="example-sketch")
            | Example Sketch
            span.label.label-info Arduino
            span.label.label-primary C++


          script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
            :cdata
              #include <RBD_Capacitance.h>

              #define BAUD        115200
              #define SEND_PIN    1 // tx
              #define RECEIVE_PIN 0 // rx

              RBD::Capacitance cap_sensor(SEND_PIN, RECEIVE_PIN);

              void setup() {
                Serial.begin(BAUD);
                cap_sensor.setSampleSize(100); // default
                cap_sensor.start();
              }

              void loop() {
                cap_sensor.update();

                if(cap_sensor.isFinished()) {
                  Serial.println(cap_sensor.getValue());
                  cap_sensor.start();
                }
              }

          h3
            a(name="sensitivity")
            | Sensitivity
          p Sensitivity is how far away the sensor can detect things, or how much resolution you have to recognize change in the sensor readings.
          ul
            li
              b Increase Sensitivity
              |  by&nbsp;
              i either
              |  adding more resistors in series (20Meg, 30Meg, or more),&nbsp;
              i or
              |  increase the surface area (size) of the piece of aluminum used as the sensor.

            li
              b Decrease Sensitivity
              |  by&nbsp;
              i either
              |  lowering the amount of resitance (use only 1Meg or less),&nbsp;
              i or
              |  decrease the surface area (size) of the piece of aluminum used as the sensor.

          h3
            a(name="variability")
            | Variability
          p Variability is how wildly the sensor readings fluctuate. This library helps adjust the variability by taking a moving average of many readings over time. This is done without delay so it has little impact on the main loop() performance.
          ul
            li
              b Less Variable
              |  readings that don't fluctuate so quickly can be achieved by increasing the sample size:&nbsp;
              a.click-flash(href="#setsamplesize") setSampleSize(1000)
              | .

            li
              b More Variable
              |  readings that fluctuate quickly can be achieved by decreasing the sample size:&nbsp;
              a.click-flash(href="#setsamplesize") setSampleSize(10)
              | .

          h3
            a(name="public-methods")
            | Public Methods

          p
            | You must continuously call&nbsp;
            a.click-flash(href="#update") update()
            |  inside of loop() in order to use the&nbsp;
            span.label.label-success REAL-TIME
            |  methods tagged below.

          h4.class-name
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                RBD::Capacitance

          ul.public-methods
            li
              a.click-flash(href="#constructor") constructor(send_pin, receive_pin)
            li
              a.click-flash(href="#update") .update()
              span.label.label-primary(data-toggle="tooltip", data-placement="right", title="This helps move real-time methods along.") PROCESS REAL-TIME
            li
              a.click-flash(href="#setsamplesize") .setSampleSize(size)
            li
              a.click-flash(href="#start") .start()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME
            li
              a.click-flash(href="#isfinished") .isFinished()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME
            li
              a.click-flash(href="#getvalue") .getValue()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME

          .section
            a(name="constructor")
            h4 RBD::Capacitance constructor(send_pin, receive_pin)
            p Create a new capacitance sensor and pass in the Arduino pin numbers for the send and receive pins.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                RBD::Capacitance cap_sensor(1,0);

                void setup() {
                  ...
                }

          .section
            a(name="update")
            h4
              | cap_sensor.update()
              span.label.label-primary(data-toggle="tooltip", data-placement="right", title="This helps move real-time methods along.") PROCESS REAL-TIME
            p This must be call continuously from within the loop() to move the library along in real-time.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void loop() {
                  cap_sensor.update();
                }

          .section
            a(name="setsamplesize")
            h4 cap_sensor.setSampleSize(size)
            p
              | Pass in an integer to change the number of readings taken to calculate a moving average&nbsp;
              a.click-flash(href="#getvalue") getValue()
              | . This can be called inside of setup() or also safely at runtime inside of loop().
            ul
              li
                b Decrease Variation
                |  in readings by making this number larger: 1000
              li
                b Increase Variation
                |  in readings by making this number smaller: 10
              li
                b Default Value
                | : 100
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void setup() {
                  cap_sensor.setSampleSize(1000);
                }

          .section
            a(name="start")
            h4
              | cap_sensor.start()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME
            p
              | Begin taking many readings and start adding up the moving average for&nbsp;
              a.click-flash(href="#getvalue") getValue()
              | .
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void setup() {
                  cap_sensor.start();
                }

                void loop() {
                  cap_sensor.update();
                }

          .section
            a(name="isfinished")
            h4
              | cap_sensor.isFinished()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME
            p
              | Returns true if all readings have been taken and a moving average&nbsp;
              a.click-flash(href="#getvalue") getValue()
              |  is ready. You must first call&nbsp;
              a.click-flash(href="#start") start()
              |   to begin the sampling process.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void setup() {
                  cap_sensor.start();
                }

                void loop() {
                  cap_sensor.update();

                  if(cap_sensor.isFinished()) {
                    ...
                  }
                }

          .section
            a(name="getvalue")
            h4
              | cap_sensor.getValue()
              span.label.label-success(data-toggle="tooltip", data-placement="right", title="You must continuously call update() to use this method.") REAL-TIME
            p
              | Returns an unsigned long of the moving average value for the capacitance reading (microseconds taken to charge the pin). This will only return a value after calling&nbsp;
              a.click-flash(href="#start") start()
              |  and waiting until&nbsp;
              a.click-flash(href="#isfinished") isFinished()
              |  has returned true.
            h5 EXAMPLE SKETCH
            script(type="syntaxhighlighter", class="brush: cpp; gutter: false;")
              :cdata
                void setup() {
                  cap_sensor.start();
                }

                void loop() {
                  cap_sensor.update();

                  if(cap_sensor.isFinished()) {
                    Serial.println(cap_sensor.getValue());
                  }
                }

          .section-bottom
    include ./global/foot-content.jade
    include ./global/docs-foot-content.jade


