doctype html
html(lang='en')
  head
    title Robots + Big Data: Light Documentation
    include ./global/head_content.jade
  body
    include ./global/top_nav.jade
    .container-fluid
      .row
        include ./global/docs_side_nav.jade
        include ./global/docs_content.jade
          h1 Light

    include ./global/foot_content.jade


