doctype html
html(lang='en')
  head
    title Robots + Big Data: Arduino Libraries Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-8
          ol.breadcrumb.stuck
            li
              a(href="../index.html") Home
            li.active
              | Arduino Libraries
            a.pull-right.edit-page(href="https://github.com/alextaujenis/RobotsBigData/edit/gh-pages/app/templates/docs-arduino.jade", data-toggle="tooltip", data-placement="left", title="Edit this page on GitHub.") edit
          .jumbotron
            .stuck.click-through
              .row.jumbotron-header.click-through
                .col-xs-12.text-right.click-through
                  span.label.label-info.title-label Arduino
            .jumbotron-container
              h2
                | Arduino Libraries
                small API DOCUMENTATION
              p Real-time event based C++ libraries written for the Arduino.
              a.btn.btn-primary(href="install.html") Read Install Guide
          .col-xs-12.libraries
            ul.libraries
              h4 Devices & Sensors
              li
                a(href="docs-arduino-light.html")
                  h5
                    | Light
                    small Control many lights.
              li
                a(href="docs-arduino-motor.html")
                  h5
                    | Motor
                    small Control many motors.
              li
                a(href="docs-arduino-human-sensor.html")
                  h5
                    | Human Sensor
                    small Detect human presence, touch, and pickup events.
              li
                a(href="docs-arduino-water-sensor.html")
                  h5
                    | Water Sensor
                    small Measure and calibrate capacitance water sensors.
              li
                a(href="docs-arduino-light-sensor.html")
                  h5
                    | Light Sensor
                    small Read and calibrate photoresistors.
              h4 Additional Libraries
              li
                a(href="docs-arduino-timer.html")
                  h5
                    | Timer
                    small Manage many timed events.
              li
                a(href="docs-arduino-threshold.html")
                  h5
                    | Threshold
                    small Set and check numeric quantile scales.
              li
                a(href="docs-arduino-capacitance.html")
                  h5
                    | Capacitance
                    small Detect change in capacitance.
    include ./global/foot-content.jade