doctype html
html(lang='en')
  head
    title Robots + Big Data: Arduino Sensor Libraries Documentation
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/docs-side-nav.jade
        .documentation.col-sm-8.col-md-9
          ol.breadcrumb.stuck
            li
              a(href="index.html") Home
            li.active
              | Arduino Sensor Libraries
            a.pull-right.edit-page(href="https://github.com/alextaujenis/RobotsBigData/") edit
          .jumbotron
            .stuck
              .row.jumbotron-header
                .col-xs-12.text-right
                  span.label.label-info.title-label Arduino
            .jumbotron-container
              h2
                | Arduino Sensor Libraries
                small API DOCUMENTATION
              p Real-time event based C++ libraries written for the Arduino.
              a.btn.btn-primary(href="install.html") Read Install Guide
          .col-md-10.col-lg-8.libraries
            h3 All Arduino Sensor Libraries
            ul.libraries
              li
                a(href="docs-arduino-capacitance.html")
                  h4
                    | Capacitance
                    small Detect changes in capacitance.
              li
                a(href="docs-arduino-human-sensor.html")
                  h4
                    | Human Sensor
                    small Detect human proximity, touch, and pickup events.
              li
                a(href="docs-arduino-light.html")
                  h4
                    | Light
                    small Control many lights.
              li
                a(href="docs-arduino-light-sensor.html")
                  h4
                    | Light Sensor
                    small Read and calibrate photoresistors.
              li
                a(href="docs-arduino-motor.html")
                  h4
                    | Motor
                    small Control many motors.
              li
                a(href="docs-arduino-threshold.html")
                  h4
                    | Threshold
                    small Set and check quantile scales.
              li
                a(href="docs-arduino-timer.html")
                  h4
                    | Timer
                    small Manage many timed events.
              li
                a(href="docs-arduino-water-sensor.html")
                  h4
                    | Water Sensor
                    small Measure and calibrate capacitance water sensors.

    include ./global/foot-content.jade