doctype html
html(lang='en')
  head
    title Robots + Big Data: Download and install the framework
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        .col-xs-12
          h1 Download
    include ./global/foot-content.jade