doctype html
html(lang='en')
  head
    title Robots + Big Data: Framework Docs
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        include ./global/framework-docs-side-nav.jade
        .col-sm-9.col-lg-10
          h2 Framework Overview
    include ./global/foot-content.jade