doctype html
html(lang='en')
  head
    title Robots + Big Data: GitHub Reference
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      ol.breadcrumb.stuck
        li
          a(href="../index.html") Home
        li.active
          | GitHub
        a.pull-right.edit-page(href="https://github.com/alextaujenis/RobotsBigData/", data-toggle="tooltip", data-placement="left", title="Edit this page on GitHub.") edit
      .row
        .col-sm-12
          h1 GitHub Reference
          p.lead Links to all external repositories under version control within this framework.
          h4 Arduino Libraries
          ul
            li
              a(href='https://github.com/alextaujenis/RBD_Capacitance') Capacitance
            li
              a(href='https://github.com/alextaujenis/RBD_HumanSensor') Human Sensor
            li
              a(href='https://github.com/alextaujenis/RBD_Light') Light
            li
              a(href='https://github.com/alextaujenis/RBD_LightSensor') Light Sensor
            li
              a(href='https://github.com/alextaujenis/RBD_Motor') Motor
            li
              a(href='https://github.com/alextaujenis/RBD_Threshold') Threshold
            li
              a(href='https://github.com/alextaujenis/RBD_Timer') Timer
            li
              a(href='https://github.com/alextaujenis/RBD_WaterSensor') Water Sensor
          h4 Website
          ul
            li
              a(href='https://github.com/alextaujenis/RobotsBigData') Robots Big Data
