doctype html
html(lang='en')
  head
    title='Robots + Big Data: an open-source framework for connecting sensors to the internet'
    link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='style/style.css' rel='stylesheet' type='text/css')
    meta(content='width=device-width initial-scale=1' name='viewport')
  body
    .container-fluid
      .row
        img.logo.img-responsive(src='../app/images/robots_big_data_logo.png')
        h3.tagline an open-source framework for connecting sensors to the internet
      .row
        .col-sm-3
        .col-xs-6.col-sm-3
          a.btn.btn-lg.btn-splash.pull-right(href="#getting-started") Getting Started
        .col-xs-6.col-sm-3
          a.btn.btn-lg.btn-splash(href="docs/") Documentation
        .col-sm-3
      .row.text-center
        a(href="#examples") see examples
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')