doctype html
html(lang='en')
  head
    title='Robots + Big Data: an open-source framework for connecting sensors to the internet'
    link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='style/style.css' rel='stylesheet' type='text/css')
    meta(content='width=device-width initial-scale=1' name='viewport')
  body
    .container-fluid
      .row
        img.logo.img-responsive(src='../app/images/robots_big_data_logo.png')
        h3.tagline an open-source framework for connecting sensors to the internet
      .row
        .col-sm-3
        .col-xs-6.col-sm-3
          a.btn.btn-lg.btn-splash.pull-right(href="#getting-started") Getting Started
        .col-xs-6.col-sm-3
          a.btn.btn-lg.btn-splash(href="docs/index.html") Documentation
        .col-sm-3
      .row.text-center
        a(href="#examples") see examples
      .row.hardware-spacer
      .row
        a(name="getting-started") &nbsp;
        h2.section-header.text-center Say hello to the hardware
      .row.text-center
        .col-sm-6
          .hardware1 Program the real world
          .hardware2 instead of running in a datacenter
          .hardware-with with any
          .hardware-name Arduino
          img(src="../app/images/arduino-uno.png")
          .row.text-left
            .col-xs-2
            .col-xs-10
              ul.hardware-benefits
                li
                  b Connect
                  |  really cheap and effective sensors
                li
                  b Run everything
                  |  at the same time with no delay
                li
                  b Do it fast
                  |  in microsecond response times
        .col-sm-6
          .hardware3 Bring it to the internet
          .hardware4 while running in the real-world
          .hardware-with with the
          .hardware-name Raspberry Pi
          img(src="../app/images/raspberry-pi-2-model-b.png")
          .row.text-left
            .col-xs-2
            .col-xs-10
              ul.hardware-benefits
                li
                  b Stream live data
                  |  to and from the Arduino
                li
                  b Store and process
                  |  lots of data efficiently
                li
                  b Provide control
                  |  from a single-page web app
      .row.software-spacer
      .row
        a(name="software-overview") &nbsp;
        h2.section-header.text-center Take a peek at the software
      .row
        .col-sm-6.text-center
          .software1 Simple libraries that help
          .software2 to solve all the "simple" problems
          img(src="../app/images/arduino-libraries.png")
          .software-footer Control your sensors with C++
        .col-sm-6.text-center
          .software3 Standard big data patterns
          .software4 let you stand on the shoulders of giants
          img(src="../app/images/big-data-libraries.png")
          .software-footer Write your app in JavaScript

    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')