doctype html
html(lang='en')
  head
    title Robots + Big Data: Installation Guide
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        .col-xs-12
          h1 Installation Guide
    include ./global/foot-content.jade