doctype html
html(lang='en')
  head
    title Robots + Big Data: Learn about electronics and big data
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      .row
        .col-xs-12
          h1 Learn
    include ./global/foot-content.jade