doctype html
html(lang='en')
  head
    title Robots + Big Data: Tutorials
    include ./global/head-content.jade
  body
    include ./global/top-nav.jade
    .container-fluid
      h1 Tutorials
    include ./global/foot-content.jade


