doctype html
html(lang='en')
  head
    title Robots + Big Data: Tutorials
    include ./global/head_content.jade
  body
    include ./global/top_nav.jade
    .container-fluid
      h1 Tutorials
    include ./global/foot_content.jade


